<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <title>The Don Quijote Dude - Curiosities</title>
</head>
<body>
    <header>
        <h1>The Don Quijote Dude - Curiosities</h1>
        <nav>
            <ul class= "menu">
                <li><a href="/">Home</a></li>
                <li><a href="/works">Works</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        
    </header>
    <section>
        <h3>1. DON QUIXOTE IS CONSIDERED THE FIRST MODERN NOVEL.</h3>
        <p>Such esteemed thinkers as award-winning literary critic Harold Bloom and decorated novelist and essayist Carlos Fuentes have declared that Don Quixote is the very first true example of the modern novel. Bloom identifies the arcs of change bracing the story’s titular character and his companion Sancho Panza as the primary marker that distinguishes it as the first of its breed, and Fuentes suggested that the nuance in the dialogue and characterization is chief in separating Don Quixote from all preceding texts.</p>
        <h3>2. CERVANTES CAME UP WITH THE STORY FOR DON QUIXOTE WHILE HE WAS IN JAIL.</h3>
        <p>Young Miguel de Cervantes suffered from a plight familiar to any aspiring writer: working a day job to pay the bills. Among the varied gigs Cervantes kept in the years before his literary breakout was a job as a tax collector for the Spanish government. However, frequent “mathematic irregularities” landed Cervantes in the Crown Jail of Seville twice between 1597 and 1602. It was during this time in the slammer that Cervantes is believed to have first thought up the story that would become Don Quixote.</p>
        <h3>3. FYODOR DOSTOEVSKY CITED DON QUIXOTE AS HIS FAVORITE LITERARY CHARACTER.</h3>
        <p>Russian novelist Fyodor Dostoevsky committed his admiration for Don Quixote to print on numerous occasions. In a letter to his niece Sophia Ivanova, Dostoevsky heralded Cervantes’ protagonist as the superlative literary hero: “Of all the beautiful individuals in Christian literature, one stands out as the most perfect, Don Quixote,” adding, “but he is beautiful only because he is ridiculous.”</p>
        <h3>4. DON QUIXOTE MIGHT BE THE BEST-SELLING NOVEL OF ALL TIME.</h3>
        <p>While the age of the novel makes it hard to fully estimate the scope of its distribution, many scholars estimate that it has reached a readership of 500 million. This figure would make it the best-selling novel in world history by far, topping Charles Dickens’ A Tale of Two Cities’ 200 million count and J.R.R. Tolkien’s The Lord of the Rings trilogy’s 150 million count.</p>
        <span>
            <p>Information taken from <a href="https://www.mentalfloss.com/article/652203/buy-two-books-dvds-video-games-get-third-free-amazon-sale?utm_content=infinitescroll1">here</a></p>
        </span>
    </section>
    
    <script src="/public/javascript/script.js"></script>
</body>
</html>