<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <title>Menard's Version of the Quixote Dude </title>
</head>
<body>
    <header>
        <h1>Pierre Menard, Author of the Quixote</h1>
        <nav>
            <ul class= "menu">
                <li><a href="/">Home</a></li>
                <li><a href="/works">Works</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <section>
            <h1>Pierre Menard, Author of the Quixote</h1>
            <p>"Pierre Menard, Author of the Quixote" (original Spanish title: "Pierre Menard, autor del Quijote") is a short story by Argentine writer Jorge Luis Borges.</p>
            <p>"Pierre Menard, Author of the Quixote" is written in the form of a review or literary critical piece about Pierre Menard, a fictional eccentric 20th-century French writer and polymath. It begins with a brief introduction and a listing of Menard's work.

                Borges' "review" describes Menard's efforts to go beyond a mere "translation" of Don Quixote by immersing himself so thoroughly in the work as to be able to actually "re-create" it, line for line, in the original 17th-century Spanish. Thus, Pierre Menard is often used to raise questions and discussion about the nature of authorship, appropriation, and interpretation.</p>
            <span>
                <p>Read more <a href="https://en.wikipedia.org/wiki/Pierre_Menard,_Author_of_the_Quixote">here</a></a></p>
            </span>
        </section>
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/Jorge_Luis_Borges_Hotel.jpg" alt="Jorge Luis Borges">
        <figcaption>Jorge Luis Borges</figcaption>
</figure>
        
        
    </header>
    <script src="/public/javascript/script.js"></script>
</body>
</html>